.sidebar {
    z-index: 1;
    position: fixed;
    top: 30%;
    right: 0;
    background: #ddd;
    padding: 1em;
}

.toc {
    padding: 0;
}
.toc, .toc ul {
    margin: 0;
    list-style: none;
}

.anchor {
    margin-left: 0.5em;
}
